body {
  font-family: 'Courier New', Courier, monospace;
}

code {
  border: 2px dotted black;
  border-radius: 16px;

  padding: 16px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}